%h3 Admin interface

%h4 Administration

%ul
  %li= link_to "Modify home page text", :action => "edit_home_page"

%h4 Reporting

%ul
  %li= link_to "Report By Collection", :controller => "report", :action => "by_collection" 
