// default partial to display solr document fields in catalog show view
= render :partial => "catalog/_show_partials/descriptive_information", :locals => {:document => document, :thumbnail => true}
= render :partial => "catalog/_show_partials/image/display_derivatives", :locals => {:document => document}
