// default partial to display solr document fields in catalog show view

= render :partial => "show_descriptive_information", :locals => {:document => document, :thumbnail => true}

- if document["object_display"]
  %h3 Resources
  %table#imageMembers
    %caption Available Image Versions
    %tr
      %th MIME Type
      %th Dimensions
      %th File Size
      %th Link
    :javascript
      var j_url = "#{document["object_display"].first}/ldpd:sdef.Aggregator/listMembers?max=&format=json&start=&callback=?";
      var row_create = function (i, item){
        var dim = item.imageWidth + " x " + item.imageHeight;
        var size = (item.fileSize % 1024 ) + " Kb";
        var i_url = "#{fedora_content_path(:download, '_ITEM_', '_FILE___SIZE_._EXT_')}";
        item_name = item.member.replace(/info\:fedora\//g,"");
        file_name = item_name.replace(/\:/g,"");
        i_url = i_url.replace(/_ITEM_/g,item_name).replace(/_FILE_/g,file_name);
        i_url = i_url.replace(/_SIZE_/g,item.imageWidth + "by" + item.imageHeight); 
        i_url = i_url.replace(/_EXT_/g,item.type.match(/(?:\/)[^\/]+/)[0].replace(/\//,""));
        
        s_url = i_url.replace(/\/download\//, "show");
        // var i_url = "#{document["object_display"].first}";
        //i_url = i_url.substring(0,i_url.lastIndexOf(':'));
        //i_url = i_url + item.member.substring(item.member.lastIndexOf(':'));
        var row = $("<tr></tr>");
        // do cell appends
        var t1 = $("<td></td>");
        t1.text(item.type);
        t1.appendTo(row);
        t1 = $("<td></td>");
        t1.text(dim);
        t1.appendTo(row);
        t1 = $("<td></td>");
        t1.text(size);
        t1.appendTo(row);
        t1 = $("<td></td>");
        var s_link = $("<a />").attr("href",s_url);
        s_link.appendTo(t1);
        s_link.text("[SHOW]");
        $("<span> </span>").appendTo(t1);
        var a_link = $("<a />").attr("href",i_url);
        a_link.appendTo(t1);
        a_link.text("[DOWNLOAD]");
        t1.appendTo(row);
        row.appendTo("#imageMembers");
      }
      var members = function (data){
        $.each(data.results, row_create );
      }
      $.getJSON(j_url, members );

