- members_list = doc_json_method(document,"/ldpd:sdef.Aggregator/listMembers?max=&format=json&start=&callback=?")["results"]
- if document["object_display"]
 %h3 Member Items
 %div#imageMembers
  - rows = get_rows(members_list,3)
  - rows.each do |row|
   %div{:class=>["yui-gb", (row==rows.first)?"first":false]}
    - row.each do |j|
     %div{:class=>["yui-u", (j==row.first)?"first":false]}
      - if !j.nil?
       - member = members_list[j]
       %p=member["member"]
       - if member["dctype"] == "Image"
        %img{:src=>"#{doc_object_method(get_fake_doc(member["member"],"image"),'/ldpd:sdef.Image/getThumbnail')}",:class=>"gallery"}
