- members_list = get_members(document)
- if members_list.length > 1
  %h3="#{members_list.length} Member Items"
  %div#member-items
    - members_list.each do |member|
      = render :partial => "catalog/_show_partials/member", :locals => {:document => member}
  - #rows = get_rows(members_list,3)
  - #rows.each do |row|
  - # %div{:class=>["yui-gb", (row==rows.first)?"first":false]}
- else
  - if members_list.length == 1
    %hr
    - member = members_list[0]
    = render :partial => "catalog/_show_partials/member", :locals => {:document => member}
