%div.md-items
  .yui-gf
    .label.yui-u.first="Title:"
    .value.yui-u=link_to_document document
  .yui-gf
    - document[:identifier_s].each do |value|
      .label.yui-u.first= "ID:"
      .value.yui-u= value
  - if document[:access_condition_s]
    .yui-gf
      - document[:access_condition_s].each do |value|
        .label.yui-u.first= "Access:"
        .value.yui-u= value
  .yui-gf
    .label.yui-u.first="Fedora URL:"
    .value.yui-u=link_to document[:pid_s], document[:object_display]
