.detail
  - metadata[:details].each do |name, value|
    .items.yui-gf
      .label.yui-u.first= name
      .value.yui-u= value
  .items.yui-gf
    .label.yui-u.first=link_to "In Fedora", document[:object_display]
    .value.yui-u
