.detail
  - metadata[:details].each do |name, value|
    .items.yui-gf
      .label.yui-u.first= name
      .value.yui-u= value
  .items.yui-gf
    .label.yui-u.first="Fedora URL:"
    .value.yui-u=link_to document[:pid_s], document[:object_display]
