- label ||= false
- counter ||= nil
- if !(counter.nil?)
  - counter = counter.to_i  + @response[:start].to_i + 1
- else
  - counter = nil
- href ||= url_to_document(document)
- onclick ||= onclick_to_document(document,{:counter=>counter,:results_view=>nil,:_method=>:put})
- if label
  %div.item_type
    %span.item_type="PART"
%a{:href=>href,:onclick=>onclick}
  %img{:src=>"#{thumbnail_path(document[:id])}",:class=>"thumbnail"} 
