- label ||= false
- counter ||= nil
- if !(counter.nil?)
  - counter = counter.to_i  + @response[:start].to_i + 1
- else
  - counter = nil
- href ||= url_to_document(document)
- onclick ||= onclick_to_document(document,counter,true)
- if label
  %div.item_type
    %span.item_type="PART"
%a{:href=>href,:onclick=>onclick}
  %img{:src=>"#{doc_object_method(document,'/ldpd:sdef.Image/getThumbnail')}",:class=>"thumbnail"} 
