- label ||= false
- counter = (counter.nil?)?0:counter + @response[:start] + 1
- href ||= url_to_document(document)
- onclick ||= onclick_to_document(document,counter,true)
- if label
  %div.item_type
    %span.item_type="PART"
%a{:href=>href,:onclick=>onclick}
  %img{:src=>"#{doc_object_method(document,'/ldpd:sdef.Image/getThumbnail')}",:class=>"thumbnail"} 
