<%# RSolr spelling is broken, trying to work around %>
<% words = get_suggestions(@response[:spellcheck]) %>
<%  if @response.response[:numFound] <= Blacklight.config[:spell_max] and words.size > 0 -%>
  <div id="spell">
    <h4 class="suggest"><i>Did you mean to type
      <% words.each_with_index { |word,index| -%>
        <% if index > 0 -%>, or <% end -%>
        <%= link_to_query(word) -%>
      <% } -%>
      ?</i></h4>
  </div>
<% end -%>
