#documents
  - @response.docs.each_with_index do |document,counter| 

    .document
      
      .yui-ge.documentHeader
        .yui-u.first
          = render_document_partial_with_locals document, :index_title, {:counter=>counter}
        .yui-u.documentFunctions
          = render :partial=>'bookmark_control', :locals=>{:document=>document}
          = render :partial=>'folder_control', :locals =>{:document=> document, :display =>'button'}

      = render_document_partial document, :index
