<% if block = ContentBlock.find_by_title("Home Page") -%>
  <%= sanitize block.data %>
<% else -%>
    

  <h3>Fedora Staff Collection Viewer 1.0</h3>

  <p><em>You may browse via the facets on the left or enter keywords above to search the entire repository.</em></p>
  <p>The Fedora Staff Collection Viewer (SCV) provides an administrative window into CUL's digital library and preservation assets.  Its primary purpose is to allow technical and curatorial staff to identify and view preserved content.</p><p> The SCV serves up content from our Fedora Digital Repository using the <a href="http://projectblacklight.org/">Blacklight</a> open source software product, which has been configured to accommodate searching of <a href="http://www.loc.gov/standards/mods/userguide/">MODS</a>-formatted metadata and the display of single and multipart digital items.</p>
  <p>For more information, see:</p>
  <ul>
    <li><a href="https://wiki.cul.columbia.edu/display/fedoradev/Fedora+Staff+Collection+Viewer+FAQ">Fedora Staff Collection Viewer: Frequently Asked Questions</a></li>
    <li><a href="https://wiki.cul.columbia.edu/display/fedoradev/Content+Currently+Available+Via+Fedora+Staff+Collection+Viewer">Fedora Staff Collection Viewer: Content Currently Available</a></li>
  </ul>
  <p><em>For questions not answered here, please email: <a mailto="scv@libraries.cul.columbia.edu">scv@libraries.cul.columbia.edu</a></em></p>
  <p>The Fedora Staff Collection Viewer was developed by Libraries Digital Program Division.  A beta version was launched in March 2011; version 1.0 in April 2011.</p>
<% end -%>
