<h3>Welcome to the CUL Fedora Blacklight Test!</h3>
<p>This text was customized by copying:<br/>
&nbsp;&nbsp;&nbsp;${blacklight.home}/vendor/plugins/blacklight/app/views/catalog/_home_text.html.erb</p>
<p>to our top level rails app:<br/>
&nbsp;&nbsp;&nbsp;${ blacklight.home}/app/views/catalog/_home_text.html.erb</p>
<p>This required creation of the 'views/catalog' directory under ${blacklight.home}/app.</p>
