- thumbnail ||= false
%div(class="yui-gf")
  %div(class="yui-u first")
    - if thumbnail
      %img(src="#{doc_object_method(document,'/ldpd:sdef.Image/getThumbnail')}") 
  %div(class="yui-u")
    %dl.defList
      - index_field_names.select { |f| document[f] }.each do |solr_fname|
        %dt= index_field_labels[solr_fname]
        %dd= h(document[solr_fname].listify.join("<br/>"))
