- thumbnail ||= false
%h3 Descriptive Information

%dl.defList
  - document_show_fields.select { |f| document[f] }.each do |solr_fname|
    %dt= document_show_field_labels[solr_fname]
    %dd= h(document[solr_fname].listify.join("<br/>"))

- if thumbnail
  %div
    %img(src="#{doc_object_method(document,'/ldpd:sdef.Image/getThumbnail')}")

      
