- thumbnail ||= false
%h3 Descriptive Information

#descriptive_information.yui-gd
  - document_show_fields.select { |f| document[f] }.each do |solr_fname|
    .label.yui-u.first= document_show_field_labels[solr_fname]
    .value.yui-u= document[solr_fname].listify.join("<br/>")

- if thumbnail
  %div
    %img(src="#{doc_object_method(document,'/ldpd:sdef.Image/getThumbnail')}")

      
