- resource_list = build_resource_list(document)
- if document["object_display"]
  %table#imageMembers
    %tr
      %th MIME Type
      %th Dimensions
      %th File Size
      %th Link
    - resource_list.each do |resource|
      %tr
        %td=resource[:mime_type]
        %td=resource[:dimensions]
        %td=resource[:size] 
        %td
          - if resource[:mime_type].match(/tiff$/)
            = link_to "Download", resource[:download_path] if resource[:download_path]
          - else
            = link_to "Show", resource[:show_path] if resource[:show_path]
          = link_to "DC", resource[:dc_path] if resource[:dc_path]


