= render :partial => "catalog/_show_partials/descriptive_information", :locals => {:document => document}

= render :partial => "catalog/_show_partials/image/display_derivatives", :locals => {:document => document}

- if (rft_id = document["rft_id"])
  #tags
  #map.smallmap
  #data

  :javascript
    init_map("#{rft_id}");
- else
  %p
    No Zooming Map ID provided

