- collections = report[:collections]
- formats = report[:formats]
%h2 Report By Collection

%table
  %tr
    %th Collection Name
    %th Count
    - formats.each do |format|
      %th=format
  - collections.keys.sort.each do |collection|
    %tr
      %td= collection
      %td= collections[collection][:count]
      - formats.each do |format|
        %td= collections[collection][format]
